# Byte-code
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (uv)
.venv/
venv/
env/

# Окружение
.env
.env.local
.env.*.local

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django media/user uploads
media/
/media/

# Django static files
staticfiles/
/staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Системные
.DS_Store
Thumbs.db

# uv lockfile (опционально, если делите с командой)
# uv.lock

# Тесты/покрытие
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Сборки/дистрибутивы
build/
dist/
*.egg-info/