{% extends 'base.html' %}
{% load django_bootstrap5 i18n %}

{% block title %}{% trans "Create label" %} - {% trans "Task Manager" %}{% endblock %}

{% block jumbotron %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0">{% trans "Create label" %}</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='default' %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        <button type="submit" class="btn btn-primary">{% trans "Create label" %}</button>
                        <a href="{% url 'labels' %}" class="btn btn-secondary">{% trans "Cancel" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}